@font-face {
  font-family: "FiraSans-Regular";
  src: url(fonts/FiraSans-Regular.otf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-black";
  src: url(fonts/Roboto-black.ttf);
}

@font-face {
  font-family: "FiraSans-UltraLight";
  src: url(fonts/FiraSans-UltraLight.otf);
}

@font-face {
  font-family: "FiraSans-Bold";
  src: url(fonts/FiraSans-Bold.otf);
}

@font-face {
  font-family: "FiraSans-ExtraLight";
  src: url(fonts/FiraSans-ExtraLight.otf);
}

* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
	display: table;
	clear: both;
}

h1, h2, h3, h4, h5, h6, p, ul, li, img {
	margin: 0;
	padding: 0;
}

img {
  vertical-align: bottom;
}

.button {
  background-color: #3088da;

  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
}

/* main navigation */

.main-nav {
  background-color: #19232f;
}

.main-nav__inner {
  display: flex;
  justify-content: space-between;

  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-nav__main-menu {
  padding: 18px 0;
}

.main-nav__main-menu-list {
  list-style-type: none;
}

.main-nav__main-menu-item {
  display: inline-block;

  padding-left: 25px;
}

.main-nav__main-menu-item-link {
  padding: 7px 15px;

  border-radius: 30px;

  font-family: "FiraSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
}

/* header*/

.main-header {
  min-height: 506px;

  background: #1b212a url("../img/headerbg.jpg") no-repeat;
  background-size: cover;
}

.main-header__inner {
  display: flex;
  flex-direction: column;

  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header__site-title {
  margin-top: 50px;

  font-family: "FiraSans-Black", sans-serif;
  font-size: 55px;
  font-weight: 600;
  line-height: 65px;
  color: #ffffff;
  text-transform: uppercase;
}

.sink-title {
  font-weight: 400;
}

.main-header__main-info-list {
  list-style-type: none;

  margin-top: 50px;
  margin-left: 310px;
}

.main-header__main-info-title {
  margin-bottom: 15px;

  font-family: "FiraSans-UltraLight", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
}

.main-header__main-info-item {
  margin-bottom: 20px;

  font-family: "FiraSans-Bold", sans-serif;
  font-size: 21px;
  font-weight: 600;
  line-height: 26px;
  color: #ffffff;
}

.main-header__main-info-inserted-list {
  list-style-type: none;

  display: flex;
}

.main-header__main-info-inserted-item {
  position: relative;
  margin-left: 40px;
  padding-left: 10px;
  padding-top: 40px;

  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #ffffff;
  text-transform: lowercase;
}

.main-header__main-info-inserted-item:before {
  content: "";
	display: block;
  position: absolute;
  left: 0;
  top: 47px;
  width: 6px;
  height: 6px;

  background-color: #65ad19;
  border-radius: 50%;
}

.main-header__main-info-inserted-item--number-one:after {
  content: "01";
	display: block;
  position: absolute;
  left: -20px;
  top: 7px;

  font-size: 35px;
  font-weight: 800;
  color: #707883;
}
.main-header__main-info-inserted-item--number-two:after {
  content: "02";
	display: block;
  position: absolute;
  left: -20px;
  top: 7px;

  font-size: 35px;
  font-weight: 800;
  color: #707883;
}
.main-header__main-info-inserted-item--number-three:after {
  content: "03";
	display: block;
  position: absolute;
  left: -20px;
  top: 7px;

  font-size: 35px;
  font-weight: 800;
  color: #707883;
}

.main-header__main-info-inserted-item:first-child {
  margin-left: 20px;
}

.main-header__main-info-item-title {
  position: relative;

  padding-left: 20px;

  font-family: "FiraSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #ffffff;
}

.main-header__main-info-item-title:before {
  content: "";
	display: block;
  position: absolute;
  left: 0;
  top: 9px;
  width: 12px;
  height: 12px;

  background-color: #7b8594;
  border-radius: 50%;
}

/* features*/

.features__inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.features__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 80px;
}

.features__item {
  width: 40%;
  margin-bottom: 60px;
}

.features__item--bg-01 {
  background: url("../img/01.png") no-repeat;
  background-position: left center;
}

.features__item--bg-02 {
  background: url("../img/02.png") no-repeat;
  background-position: right center;
}

.features__item--bg-03 {
  background: url("../img/03.png") no-repeat;
  background-position: left center;
}

.features__item--bg-04 {
  background: url("../img/04.png") no-repeat;
  background-position: right center;
}

.features__item--align-right {
  text-align: right;
}

/* advantages*/

.advantages__inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.advantages__title {
  font-family: "FiraSans-ExtraLight", sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 42px;
  text-decoration: none;
  color: #7a7a7a;
  text-align: center;
}

/* portfolio*/
/* prices*/
/* about-us*/
/* footer*/
